ul{
  list-style: none;
}
.flex{
  display: flex;
}
.centra{
  justify-content: center;
  align-items: center;
}
.separa{
  justify-content:space-between;
}
.derecha{
  justify-content: end;
  margin-right: 20px;
}
.izquierda{
  justify-content: start;
}
.sin-decoracion{
  text-decoration: none;
  color: black;
}
.titulo{
  background-image: 'https://th.bing.com/th/id/OIG4.zfhoK3asGDyFB9ThHk.d?pid=ImgGn';
 
}

.lista{
  
  color: rgb(229, 215, 241);
  font-size: 200%;       
}

.lista:hover {
  
  display: block;
  transition: all .3s ease-in-out;
  color: rgb(174, 103, 240);
  text-decoration-color: blueviolet;
  ruby-span: 10;
  
}

.lista-hamburgesa {
  
  display: flex;
  justify-content: start;
  margin-left: 140px;
  width: 200rem;
  height:4rem ;
  text-align: center;
  text-decoration: none;
  color: rgb(229, 215, 241);
  font-size:150%;   

}

.lista-hamburgesa:hover {
  

color: rgb(174, 103, 240);

}
.fondo-nav{
    background: linear-gradient(45deg,rgb(0, 0, 0),rgb(44, 44, 44),rgb(70, 70, 70),rgb(51, 51, 51),rgb(0, 0, 0));
    
}
.fondo-sub-nav{
  
  justify-content: center;
  border-radius: 3px;
  
  background: linear-gradient(45deg,rgb(0, 0, 0),rgb(44, 44, 44),rgb(70, 70, 70),rgb(51, 51, 51),rgb(0, 0, 0))
}



@media (min-width: 00px) and (max-width: 700px){
    
  .desaparecer{
      display: none;
  }
}

@media (min-width: 00px) and (max-width: 700px){
    
  .cambio-columna{

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;  
      

  }
}


.barra{
  height: 2rem;
}

.fondo-color1{
  background-color: #264653;
}
.fondo-color2{
  background-color: #2a9d8f;
}
.fondo-color3{
  background-color: #e9c46a;
}
.fondo-color4{
  background-color: #f4a261;
}
.fondo-color5{
  background-color: #e76f51;
}

