
.lista {
    transition: all .3s ease-in-out;
    padding-top: 1rem;
    padding-left: 1rem;

}
.lista:hover {
  transition: all .3s ease-in-out;
  color: rgb(137, 43, 226);
  transform: scale(110%);
}

.fondo-nav{
}

.barra{
  height: 2rem;
}

.fondo-color1{
  background-color: #264653;
}
.fondo-color2{
  background-color: #2a9d8f;
}
.fondo-color3{
  background-color: #e9c46a;
}
.fondo-color4{
  background-color: #f4a261;
}
.fondo-color5{
  background-color: #e76f51;
}

